<ion-header [translucent]="true" collapse="condense" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios" class="support-content">
  <ion-list lines="full">
    <ion-item button>
      <ion-label>Help center</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>Privacy policy</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>Terms of use</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>Open source licenses</ion-label>
    </ion-item>
  </ion-list>
</ion-content>