@if(items){
  <div class="slider-scroll">
    @for (item of items; track item.id) {
      <ion-card [style.width]="cardWidth" [style.height]="cardHeight" class="slider-card" (click)="recommendationClick(item)">
        <div class="image-wrapper">
          <ion-img [src]="item.image || 'assets/images/placeholderimg.png'" [alt]="item.name"></ion-img>
  
          @if (item.name) {
            <div class="bottom-overlay">
              <h2><strong>{{ item.name }}</strong></h2>
              <p><strong>{{ item.location || item.country }}</strong></p>
            </div>
          }
        </div>
      </ion-card>
    }
  </div>
}

@if(customCard){
  <div class="card">
    @for (item of customCard; track item.id) {
      <ion-card [style.width]="cardWidth" [style.height]="cardHeight" class="customCard" 
      [style.margin]="cardMargin" [style.border-radius]="cardBorderRadius">
        <div class="image-wrapper">
          <ion-img [src]="item.image || 'assets/images/placeholderimg.png'" [alt]="item.name"></ion-img>
  
          @if  (item.title || item.subtitle) {
            <div class="bottom-overlay">
              <h2><strong>{{ item.title }}</strong></h2>
              <p><strong>{{item.subtitle }}</strong></p>
              @if(item.buttonTitle){
                <ion-button fill="solid" shape="round" class="ion-margin-top">{{item.buttonTitle}}</ion-button>
              }
            </div>
          }
        </div>
      </ion-card>
    }
  </div>
}
@if(adventureContent){
  <div class="slider-scroll">
    @for (item of adventureContent; track item.id) {
      <div class="slider-item">
        <ion-card [style.width]="cardWidth" [style.height]="cardHeight" class="image-only-card" (click)="onItemClick(item)">
          @if (item.image) {
            <div class="image-wrapper">
              <ion-img [src]="item.image" [alt]="item.name"></ion-img>
            <ion-button shape="round" class="fav-icon" color="light" (click)="toggleFavorite(item)">
              <ion-icon slot="icon-only" [name]="item[iconKey] ? iconTrue : iconFalse" color="danger"></ion-icon>
            </ion-button>
            </div>
          } @else {
            <div class="image-wrapper">
              <ion-img src="assets/images/placeholderimg.png" [alt]="item.name"></ion-img>
            </div>
          }
        </ion-card>
  
        <div class="adventure-meta">
          <h3>{{ item.name }}
          </h3>
          @if(item.tag)  {
            <p class="type fs-10">{{ item.tag }}</p>
            <p class="type"><ion-icon name="location-outline" class="fs-10"></ion-icon> {{ item.type }}</p>
            <p class="rating">★ {{ item.rating }}/5</p>
           } @else {
          <p class="type">{{ item.type }}</p>
          <p class="rating">★ {{ item.rating }}/5</p>
           }
        </div>
      </div>
    }
  </div>
}