.custom-searchbar {
    --placeholder-color: var(--ion-text-medium);
    --border-radius: 50px;
    --box-shadow: none;

    .searchbar-input {
        font-size: 14px;
        height: 40px;
        padding: 0 8px;
        background: transparent !important;
        border-radius: 50px !important;
    }

    ion-icon {
        font-size: 18px;
        color: #aaa;
    }
}

.button {
    width: 75px;
    height: 30px;
}

.navigate-icon {
    font-size: 24px;
    background: var(--ion-color-light);
    border-radius: 5%;
    padding: 15px;
}