// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


:root {
	--ion-color-primary: #00ebb0;
	--ion-color-primary-rgb: 0,235,176;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #00cf9b;
	--ion-color-primary-tint: #1aedb8;

	--ion-color-secondary: #ad019e;
	--ion-color-secondary-rgb: 173,1,158;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #98018b;
	--ion-color-secondary-tint: #b51aa8;

	--ion-color-tertiary: #2eafff;
	--ion-color-tertiary-rgb: 46,175,255;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #289ae0;
	--ion-color-tertiary-tint: #43b7ff;

	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45,213,91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;
	--ion-color-medium-custom: #cfcaca;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

	--ion-color-favorite: #d4cdb3;
	--ion-color-favorite-rgb: 212,205,179;
	--ion-color-favorite-contrast: #000000;
	--ion-color-favorite-contrast-rgb: 0,0,0;
	--ion-color-favorite-shade: #bbb49e;
	--ion-color-favorite-tint: #d8d2bb;

}

.ion-color-favorite {
	--ion-color-base: var(--ion-color-favorite);
	--ion-color-base-rgb: var(--ion-color-favorite-rgb);
	--ion-color-contrast: var(--ion-color-favorite-contrast);
	--ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
	--ion-color-shade: var(--ion-color-favorite-shade);
	--ion-color-tint: var(--ion-color-favorite-tint);
  }

.safe-area {
  padding-top: env(safe-area-inset-top) !important;
}


.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}


.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-26 {
    font-size: 26px;
}

.underline-button {
    text-decoration: underline;
	color: var(--ion-text-light);
}

.custom-icon {
    font-size: 18px;
    border-radius: 50%;
    padding: 10px;
}