.trips-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trips-card {
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 1.5rem;
}

.trips-icons {
  font-size: 2rem;
  margin: 1.5rem 0 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.trips-signin {
  font-weight: bold;
}

.trip-icon {
  font-size: 24px;
  background: var(--ion-color-warning-tint);
  border-radius: 50%;
  padding: 15px;
}

.trip-image {
  border-radius: 5px;
}

::ng-deep .trip-action-sheet .action-sheet-button {
  justify-content: flex-start !important; /* Aligns entire button content */
  text-align: left !important;
  color: var(--ion-color-sweet) !important;
}

::ng-deep .trip-action-sheet .action-sheet-button .action-sheet-button-inner {
  justify-content: flex-start !important; /* Aligns inner content like icon+text */
}

::ng-deep .fab-button-in-list {
  width: 56px !important;
  height: 56px !important;
}

::ng-deep .ion-input {
  --background: none !important;
  --color: none !important;
}
