.location-link {
    display: inline-block;
    margin-top: 4px;
    font-weight: 500;
    color: var(--ion-text-light);
}

.location-icon {
    font-size: 24px;
    background: var(--ion-color-dark-tint);
    border-radius: 50%;
    padding: 15px;
}

.custom-searchbar {
    --placeholder-color: var(--ion-text-medium);
    --border-radius: 50px;
    --box-shadow: none;

    .searchbar-input {
        font-size: 14px;
        height: 40px;
        padding: 0 8px;
        background: transparent !important;
        border-radius: 50px !important;
    }

    ion-icon {
        font-size: 18px;
        color: #aaa;
    }
}

ion-thumbnail {
    --size: 65px;
    --border-radius: 8px;
}

.fixed-top-searchbar {
    padding-top: 12px !important;
    position: fixed;
    z-index: 999;
    background: var(--ion-background-color, #fff);
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
  }
  
  .fixed-top-searchbar.visible {
    opacity: 1;
    pointer-events: auto;
  }

  .hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .visible {
    opacity: 1;
    pointer-events: auto;
  }