<ion-header translucent="true" collapse="fade" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-title>Preferences</ion-title>
</ion-header>

<ion-content fullscreen="true" class="preferences-content" mode="ios">
  <ion-list lines="full">
    <ion-item button>
      <ion-label>Account Info</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>Language</ion-label>
      <ion-note slot="end">English (United States)</ion-note>
    </ion-item>
    <ion-item button>
      <ion-label>Currency</ion-label>
      <ion-note slot="end">US Dollar</ion-note>
    </ion-item>
    <ion-item button>
      <ion-label>Units</ion-label>
      <ion-note slot="end">Miles / Feet</ion-note>
    </ion-item>
    <ion-item button>
      <ion-label>Payment preferences</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>Notifications</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>Manage privacy</ion-label>
    </ion-item>
  </ion-list>
</ion-content>